#!/bin/zsh

source "$(chezmoi source-path)/.chezmoihelpers/gum_helpers.zsh"

gum_header "Shell"

# Stop script execution on errors or undefined variables
set -uo pipefail

# Get the installation prefix
BREW_PREFIX=$(brew --prefix)

# Update the user path in launchctl to include the binaries
gum_spin "Configuring launchctl user path to include binaries..." "shell" \
  "sudo launchctl config user path \"$BREW_PREFIX/bin:$PATH\"" "Launchctl user path updated."

# Check if the Zsh binary path is already listed in /etc/shells
gum_spin "Checking if Zsh is already added to the list of valid shells..." "shell" \
  "grep -Fxq \"$BREW_PREFIX/bin/zsh\" /etc/shells" "Zsh already listed in /etc/shells."

if [ $? -ne 0 ]; then
  # Add Zsh to /etc/shells if it is not already present
  gum_spin "Zsh not found in /etc/shells. Adding it now..." "shell" \
    "echo \"$BREW_PREFIX/bin/zsh\" | sudo tee -a /etc/shells" "Zsh added to /etc/shells."
fi

# Change the default shell to Zsh for the current user
gum_spin "Changing default shell to Zsh..." "shell" \
  "chsh -s \"$BREW_PREFIX/bin/zsh\"" "Default shell successfully changed to Zsh."
