#!/bin/zsh

export PATH="/opt/homebrew/bin:$PATH"
export USERDIR=/Users/$(whoami)
export ZSH=$USERDIR/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="robbyrussell"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="dd/mm/yyyy"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(bundler git gpg-agent)

source $ZSH/oh-my-zsh.sh

# Disable Homebrew analytics
export HOMEBREW_NO_ANALYTICS=1

# Workspace for git-workspace
export GIT_WORKSPACE=~/Code

# GitHub token from 1Password
{{ if eq .chezmoi.hostname "Nicks-MacBook-Pro" -}}
export GITHUB_TOKEN={{- (onepasswordDetailsFields "qkax3atyuffnzlklzbak6ai3le").password.value }}
{{ else if eq .chezmoi.hostname "C02CQ3ZPP3YV" -}}
export GITHUB_TOKEN={{- (onepasswordDetailsFields "uothrmlxkrb4zfophlmjrqe2pq").password.value }}
export GITLAB_TOKEN={{- (onepasswordDetailsFields "tvi5o6fp5fdu5bjjyaog5qlahu").password.value }}
{{- end}}

{{ if eq .chezmoi.hostname "C02CQ3ZPP3YV" -}}
# Nexus configuration
source "/Users/nick.pellant/Library/Application Support/creds/nexus"
{{- end}}

# Configure default editor
export EDITOR="code --wait"

# asdf
. /opt/homebrew/opt/asdf/libexec/asdf.sh
