tap 'homebrew/cask-versions'
tap 'orf/brew'

brew 'bash'
brew 'chezmoi'
brew 'git-workspace'
brew 'openssl'

cask '1password'
cask '1password-cli'
cask 'google-chrome'
cask 'gpg-suite'
cask 'iterm2'
cask 'spotify'
cask 'visual-studio-code'

{{ if eq .chezmoi.hostname "Nicks-MacBook-Pro" -}}
# Personal MacBook Pro
brew 'poetry'

cask 'anki'
cask 'backblaze'
cask 'firefox-developer-edition'
cask 'kindle'
cask 'notion'
cask 'signal'
cask 'steam'
cask 'trezor-bridge'
cask 'tor-browser'
cask 'whatsapp'
{{- end}}
