#!/bin/zsh

export EDITOR="code --wait"
export GIT_WORKSPACE=~/Code
export GITHUB_TOKEN={{- (onepasswordDetailsFields "lufic4qy5pfh5764snhsg5mcze").credential.value }}
export HOMEBREW_NO_ANALYTICS=1

export ZSH="$HOME/.config/oh-my-zsh"
ZSH_THEME="robbyrussell"

plugins=(
  brew
  bundler
  git
  gpg-agent
  asdf
)

source $ZSH/oh-my-zsh.sh
source $HOME/.cargo/env
