#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
  if ! command -v asdf; then
    brew install asdf
  fi
{{ end -}}

declare -a plugins=("ruby" "python")

for plugin in "${plugins[@]}"
do
  if ! asdf plugin list | grep -q $plugin; then
    asdf plugin add $plugin
  else
    asdf plugin-update $plugin
  fi

  if ! asdf list $plugin | grep -q $(asdf latest $plugin); then
    asdf install $plugin latest
    asdf global $plugin latest
  fi
done

asdf plugin add nodejs
asdf plugin-update nodejs
asdf install nodejs lts
asdf global nodejs lts
