#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew update
brew upgrade
brew autoremove
brew cleanup

read -p "Do you want to remove Homebrew dependencies not listed in your Brewfile? (y/n): " response
if [ "$response" = "y" ]; then
    brew bundle cleanup --file=.Brewfile --force
fi
{{ end -}}
